<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wealth.mapper.CartBoxMapper">

    <select id="getPriceWithoutDiscount" resultType="java.lang.Double">
        SELECT SUM(price)
        FROM `product`
        WHERE product.id IN
        (SELECT productId
         FROM `cartbox`
         WHERE boxId=(#{boxId}))
    </select>

    <insert id="insertProductIds">
        INSERT INTO `cartbox`
        VALUES
            <foreach collection="ids" index="index" item="item" separator=",">
                (#{boxId},#{item})
            </foreach>
    </insert>

</mapper>
